main .offer-container {
    cursor: pointer;
}

main .offer-container img{
    max-width: 250px;
    min-width: 250px;
    max-height: 250px;
    min-height: 250px;
}

main .offer-label {
    transition: all 0.5s;
}

main .offer-container:hover .offer-label {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.445);
}

main .offer-container:hover .offer-label span{
    color: var( --purple);
}

main .offer-label {
    color: var(--text-secondary);
    padding: 2rem;
}





@media (max-width: 1000px) {
    main .offer-label {
        padding: 1rem;
        max-width: 200px;
    }
}


@media (max-width: 700px) {
    main .price {
        font-size: 25px;
    }
}

