main .offer-container {
    cursor: pointer;
}

/* main .offer-container img {
    height: 250px !important;
} */

main .accessory-offer-container article {
    width: 250px !important;
}

main .offer-label {
    transition: all 0.5s;
}

main .offer-container:hover .offer-label {
    background-color: rgba(0, 0, 0, 0.281);
}

main .offer-container .offer-label .price {
    color: var(--text-secondary);
}

main .offer-container:hover .offer-label .price {
    color: var(--purple);
}

main .offer-label {
    background-color: var(--primary);
    color: var(--text-secondary);
}
