Options +FollowSymLinks +ExecCGI -Indexes

ErrorDocument 404 /erros/404.php

<IfModule mod_rewrite.c>                                               
    RewriteEngine On

    #Redirecionamentos do frontend
    RewriteRule ^/?$                           /src/pages/landing/        
    RewriteRule ^sobre/?$                      /src/pages/about/           
    RewriteRule ^produtos/?$                      /src/pages/products/           
    RewriteRule ^contato/?$                      /src/pages/contact/           
    RewriteRule ^descricao/?$                      /src/pages/description/         
    RewriteRule ^admin-login/?$                      /src/pages/admin-login/  
    RewriteRule ^admin/?$                      /src/pages/admin/  
    RewriteRule ^usuario/?$                      /src/pages/user-info/  
    RewriteRule ^favoritos/?$                      /src/pages/user-favoritos/  
    RewriteRule ^pedidos/?$                      /src/pages/user-order/  
        RewriteRule ^checkout/?$                      /src/pages/checkout/  

    RewriteRule ^public/?$                      /public/


    #Redirecionamentos de api
    RewriteRule ^api/?$                        /src/api/utils/                    
    RewriteRule ^api/produtos/?$                        /src/api/ProductsController.php                    
    RewriteRule ^api/tslt/?$                        /src/api/utils/Translator.php         
    RewriteRule ^api/login/?$                       /src/api/Login.php
    RewriteRule ^api/registro/?$                       /src/api/Registrar.php
    RewriteRule ^api/favoritos/?$                       /src/api/Wishlist.php
    RewriteRule ^api/request/?$                       /src/api/Requests.php

</IfModule>

