Options +FollowSymLinks +ExecCGI -Indexes

ErrorDocument 404 /erros/404.php

<IfModule mod_rewrite.c>                                               
    RewriteEngine On

    #Redirecionamentos do frontend
    RewriteRule ^/?$                           /src/pages/landing/        
    RewriteRule ^sobre/?$                      /src/pages/about/           
    RewriteRule ^produtos/?$                      /src/pages/products/           
    RewriteRule ^contato/?$                      /src/pages/contact/           
    RewriteRule ^descricao/?$                      /src/pages/description/         
    RewriteRule ^admin-login/?$                      /src/pages/admin-login/  
    RewriteRule ^admin/?$                      /src/pages/admin/  
    RewriteRule ^usuario/?$                      /src/pages/user/  


    #Redirecionamentos de api
    RewriteRule ^api/?$                        /src/api/                    

</IfModule>