main .product img {
    width: 100px;
}

main .checkout-header-type-info {
    display: none;
}

@media (max-width: 991px) {
    #checkout-header {
        display: none;
    }

    main .checkout-header-type-info {
        display: initial;
    }
}