.pruduct-button {
    width: 45px;
    height: 45px;
    padding-top: 11px;
}

#product-color-container label i {
    opacity: 0;
}

#product-color-container input[type="radio"]:checked + label i {
    opacity: 1;
}

#product-size-container input[type="radio"]:checked + label {
    color: var(--text-secondary);
    background-color: var(--primary);
}