.account-modal-container {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    transition: all 0.5s;
}

.account-modal-content {
    background-color: white;
    width: 400px;
    z-index: 4;
    border: 3px solid var(--secondary-2);
    text-align: center;
}

.account-modal-content i {
    right: 25px;
    top: 20px;
}

.account-modal-content i:hover {
    color: var(--red);
}