.footer-content {
    min-width: 200px;
}

@media (max-width: 600px) {
    footer .container {
        flex-direction: column;
        justify-content: initial
    }
    .footer-content {
        width: 100%;
        padding-top: 3rem;
    }

    .footer-content:first-child ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        max-width: 400px;
    }
}