:root {
  --primary: rgb(166, 91, 153);
  --primary-low-opacity: #a65b9980;
  --primary-hover: #8b4a80;
  --primary-2: #613673;
  --secondary: #BABFBD;
  --secondary-2: #A6A18A;
  --selection: #A68933;
  --text-primary: #000;
  --text-primary-2: #3f3f3f;
  --text-secondary: #fff;
  --text-secondary-2: #BABFBD;
  --text-secondary-3: #c4ad6b;
  --text-secondary-3-hover: #A68933;
  --cyan: #22b8cf;
  --green: #37b679;
  --red: #da3c3c;
  --pink: #e64980;
  --purple: #f81ce5;
  --blue: #0070f3;
  --violet: #5f3dc4;
  --violet-light: #7048e8;
  --accents-0: #f8f9fa;
  --accents-1: #f1f3f5;
  --accents-2: #e9ecef;
  --accents-3: #dee2e6;
  --accents-4: #ced4da;
  --accents-5: #adb5bd;
  --accents-6: #868e96;
  --accents-7: #495057;
  --accents-8: #343a40;
  --accents-9: #212529;
  /* --font-sans: -apple-system,system-ui,BlinkMacSystemFont,"Helvetica Neue","Helvetica",sans-serif; */
}
  
.zoom {
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .6s ease;
}

.zoom:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.bg-accents {
  background-color: var(--accents-9);
  color: var(--text-secondary);
}

.bg-white {
  background-color: var(--primary);
}

.bg-black {
  background-color: var(--secondary);
}

.text-white {
  color: var(--primary);
}

.bg-products {
  background-image: url("./assets/image/bg-products.svg");
}

.btn-primary {
  background-color: var(--primary);
  border: none;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn:focus {
  background-color: var(--primary-hover);
  box-shadow: 0 0 0 0.2rem rgba(166, 91, 153, 0.25);
}

.form-control:focus,
.form-select:focus {
  border-color: var(--primary-low-opacity);
  box-shadow: 0 0 0 0.2rem rgba(166, 91, 153, 0.25);
}

tbody tr:hover {
  transition: all 0.3s;
  background-color: rgba(166, 91, 153, 0.25);
}

.social-link {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-secondary-3);
}

.social-link:hover {
  color: var(--text-secondary-3-hover);
}

.cursor-pointer {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}

.border-b {
  border-bottom: 1px solid var(--accents-5);
}

.price {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 700;
}

.primary-text {
  color: var(--primary);
}

.primary-text-hover:hover {
  transition: all 0.3s;
  color: var(--primary-hover);
}