header #logo {
    width: 35px;
}
  
header #logo:hover {
    box-shadow: 0 0 4px 2px var(--accents-3);
    border-radius: 60px;
}
  
header .navbar-text i {
    transition: all 0.3s;
}
  
header .navbar-text i:hover {
    color: var(--accents-9);
}
  
header #user {
    background-color: var(--cyan);
    background-image: linear-gradient(140deg, pink, var(--primary-2) 100%);
  
    padding: 1px 6px;
}
  
header #user-nav i:hover {
    color: var(--hover);
}

.active {
    border: 2px solid var(--primary-low-opacity);
    border-radius: 5px;
}

.list-group-item:hover {
    background-color: var(--primary-low-opacity);
}

.nav-item {
    margin: 0 3px;
}

.nav-link:hover {
    background-color: var(--primary-low-opacity);
    border-radius: 5px;
}

.nav-link {
    color: var(--text-secondary-2);
    font-weight: 500;
  }
  
  .nav-link:hover {
    color: var(--text-secondary);
  }