main .category-container {
    margin-top: 15px;
}

main .category-content {
    margin-left: 10px;
}

main .product img {
    width: 250px !important;
    height: 250px !important;
    /* min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px; */
}

.product-title {
    max-width: 250px;
}

#filter-title {
    white-space: nowrap;
}

.dropdown {
    right: 40px;
    
}

.dropdown i {
    padding-left: 35px;
    margin-right: -35px;
}

#searchWord {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--selection);
}