#sidebar-header {
    background-color: var(--primary);
    color: var(--text-secondary);
}

.option-link{
    background-color: #fafafa;
    border-bottom: 1px solid var(--accents-3);
    padding: 1rem 4rem;
    transition: all 0.5s;
}

.option-link:hover {
    color: var(--text-primary) !important;
    background-color: var(--primary-low-opacity);
}

#sidebar-options {
    transition: all 0.5s;
    white-space: nowrap;
}

.dropdown-link {
    background-color: var(--accents-2);
    transition: all 0.8s;
}

.dropdown-link:hover {
    padding-left: 2rem;
}