#toggle-sidebar-button,
#toggle-sidebar-logo {
    display: none;
}

header #user {
    background-color: var(--cyan);
    background-image: linear-gradient(140deg, pink, var(--primary-2) 100%);
  
    padding: 1px 6px;
}
  
header #user-nav i:hover {
    color: var(--hover);
}

#sidebar-container {
    transition: all 0.5s;
}

#sidebar-header {
    background-color: var(--primary);
    color: var(--text-secondary);
}

.option-link{
    background-color: #fafafa;
    border-bottom: 1px solid var(--accents-3);
    padding: 1rem 4rem;
    transition: all 0.5s;
}

.option-link:hover {
    color: var(--text-primary) !important;
    background-color: var(--primary-low-opacity);
}

#sidebar-options {
    transition: all 0.5s;
    white-space: nowrap;
}

.dropdown-link {
    background-color: var(--accents-2);
    transition: all 0.8s;
}

.dropdown-link:hover {
    padding-left: 2rem;
}

.dropdown-edit {
    background-color: #fafafa;
}
.dropdown-edit:hover {
    background-color: var(--accents-3);
}

#admin-container {
    background-color: var(--accents-2);
    max-width: 250px;
    transition: all 0.5s;
}

#admin-menu-content a {
    color: var(--accents-9);
    font-size: 1.2rem;
    transition: all 0.3s;
    white-space: nowrap;
}

#admin-menu-content a:hover {
    background-color: var(--accents-4);
}

#admin-menu-content .active {
    background-color: var(--accents-4);
}

#circle-container {
    max-width: 800px;
}

#init-container .circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid var(--primary-low-opacity);
    padding-top: 20px;
}

#init-container .circle i {
    color: var(--accents-7);
}

#init-container .circle p {
    color: var(--accents-6);
    width: 120px;
}

#init-container .circle span {
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: 700;
}

#sale-content {
    width: 250px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 8px;
    border: 1px solid var(--accents-5);
    margin: 0 15px 15px;
}

#sale-product-content img {
    width: 230px;
    border-radius: 8px;
}

#sale-product-content h5 {
    color: var(--text-primary-2);

}

#sale-product-content span {
    color: var(--primary);
    font-weight: 600;
    font-size: 1.5rem;
}

.active {
    color: black !important;
    background-color: var(--primary-low-opacity);
}

.order-price {
    white-space: nowrap;
}

.banner-index {
    background-color: var(--primary);
    color: var(--text-primary);
    font-size: 26px;
    padding: 8px 18px;
}


@media (max-width: 770px) {
    #toggle-sidebar-button,
    #toggle-sidebar-logo {
        display: initial;
    }

    #logo-contianer h1,
    #sidebar-header h5 {
        display: none;
    }

    .toggle-sidebar {
        position: absolute;
        transform: translateX(-500px);
    }

    #admin-container {
        width: 200px;
    }

    .circle {
        margin: auto;
    }

    .banner-index {
        font-size: 16px;
        padding: 4px 12px;
    }
}